body{
  margin:0;
}

#topBar{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 62px;
  background-color: #232b54;
  color: white;
  display: flex;
  flex-direction: row;
}
#infoBox{
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
#infoBox>div{
  text-align: center;
  margin: 2px 0;
}
#barDropdown{
  width: 48px;
  height: 48px;
  position: fixed;
  top:calc((62px - 48px) / 2);
  right:0;
  transition: drop-shadow 0.2s ease-in-out;
}

#barDropdown:hover{
  filter: drop-shadow(0 0 25px white);
}
#dropdownMenu{
  z-index: 1;
  position: absolute;
  right: 0;
  top:-100%;
  background-color: #232b54;
  display: flex;
  flex-direction: column;
  width: 150px;
  transition: top 0.2s ease-in-out;
}
#dropdownMenu>*{
  padding: 5px 5px;
}
.icon-button{
   display: inline-flex;
   align-items: center;
   color: white;
   border: 0;
   padding: 0;
   border-top: 1px solid white;
   background-color: transparent;
}
.icon-button{
  transition: background-color 0.2s ease-in-out;
  }
.icon-button:hover,#patrolsClose:hover, #statsClose:hover, #settingsMenu > img:hover{
    background-color: #fff2
 }
.icon-button>img{
  width: 36px;
  height:36px;
}
#dropdownMenu>.icon-button:last-of-type{
  border-bottom: : 1px solid white;
}
#settingsMenu{
  position: absolute;
  top: 110px;
  right: -100%;
  background-color: #232b54;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 8px 0 8px 8px;
  transition: right 0.2s ease-in-out;
}
#settingsMenu>img{
  width: 100%;
  height: 45.8px;
  align-self: center;
  transition: background-color 0.2s ease-in-out;
}
#settingsMenu>.slider-container{
  padding: 5px 2px;
  border-top: 1px solid white;
}
#settingsMenu>.switch{
  padding: 8.7px 2px;
  border-top: 1px solid white;
}

#patrolsButton{
  position: absolute;
  z-index: 2;
  color:white;
  top: 100px;
  background-color: #232b54;
  border-radius: 0 58px 58px 0;
}
#patrolsButton>img{
  width: 48px;
  height: 48px;
  margin: 10px 20px 10px 10px;
  transition: drop-shadow 0.2s ease-in-out;
}

#patrolsButton>img:hover{
  filter: drop-shadow(0 0 25px white);
}

#patrolsMenu{
  position: absolute;
  z-index: 3;
  top: 100px;
  left: -100%;
  width: 300px;
  min-height: 80%;
  background-color: #232b54;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 0px 8px 8px 0;
  transition: left 0.2s ease-in-out;
}
#patrolsClose{
  width: 100%;
  height: 48px;
  padding: 5px 0;
  transition: background-color 0.2s ease-in-out;
}

#patrolsMenu>div:first-of-type{
  display: inline-flex;
  flex-direction: row;
  padding: 0 5px;
  align-items: center;
  justify-content: flex-end;
}
#patrolsMenu>div:first-of-type>span{
  position: absolute;
  padding: 0 5px;
  left: 0;
}
#patrolsMenu>div:first-of-type>button{
  padding: 8px;
  margin: 5px 5px;
}
#patrolsMenu>div:first-of-type>button:first-of-type{
  margin-right: 0;
}
#statsOverlay{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #232b54cc;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
#statsOverlay>div{
  position: relative;
  width: 80%;
  height: 80%;
  border: 1px solid white;
  background-color: #232b54;
}
#statsLegend{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #232b54;
  width: 20%;
  color: white;
  text-align: center;
  padding: 5px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  font-size: 0.7rem;
}
#statsClose{
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  color:white;
  background-color: #232b54;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: background-color 0.2s ease-in-out;
}


.switch{
  display: inline-flex;
  align-items: center;
}
.toggle:before, .curtain {
    position: absolute;
}

.toggle:focus {
    outline: transparent;
}
.toggle{
    border-radius: 0.75em;
    box-shadow: 0 0 0 0.1em inset;
    cursor: pointer;
    position: relative;
    margin-right: 0.25em;
    width: 3em;
    height: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #d6d6d6;
}
.toggle:checked{
  background-color: #3A3;
}
.toggle:before {
    background: currentColor;
    border-radius: 50%;
    content: "";
    top: 0.2em;
    left: 0.2em;
    width: 1.1em;
    height: 1.1em;
}
.toggle:checked:before {
    transform: translateX(1.5em);
}
.toggle:checked ~ .slot .slot__label, .slot__label:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}
.toggle:checked ~ .slot .slot__label:nth-child(2) {
    transform: translateY(-100%) scaleY(1);
}
